body{
  background-color: blanchedalmond;
  font-family: serif;
  font-size: medium;
}
p{
  font-size: 22px;
}
a{
  font-size: 10px;
}
.obraz {
  width: 960px;
  height: 540px;
  border: 3px solid black;
  margin-bottom: 25px;
}

.obraz img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}